[Desktop Entry]
Name=Avidemux Video Editor (GTK)
Comment=Graphical video editing tool - GTK interface
Icon=gnome-multimedia
Exec=avidemux2_gtk
Terminal=false
Type=Application
Categories=AudioVideo;
