[Desktop Entry]
Name=Avidemux Video Editor (QT)
Comment=Graphical video editing tool
Icon=gnome-multimedia
Exec=avidemux2_qt4
Terminal=false
Type=Application
Categories=AudioVideo;
