[Desktop Entry]
Name=Avidemux Video Editor (Qt)
Comment=Graphical video editing tool - Qt interface
Icon=avidemux
Exec=avidemux2_qt4
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;
